@charset "utf-8";

#BOARD{
    
    height: auto;
    padding-top:110px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.write {
    background-color: #A6CF98;
    border-radius: 10px;
    border:2px solid #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.wForm1 {
    /* background-color: #4F6F52; */
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.wForm2 {
    width: 75%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wIconPview {
    margin-top: 20px;
    margin-bottom:10px;
}

.wSelectIcon {
    width: 150px;
    background-color: #121212;
}

.wSelectIcon>select {
    width: 150px;
}

.wBtn {
    text-align: right;
    position: relative;
}

.posts {
    display: flex;
    flex-direction: row;
    border: 2px solid #121212;
    border-radius: 10px;
    background-color: #4F6F52;
    width: 800px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 15px;
    justify-content: center;
}

.pIcon {
    background-color: #4F6F52;
    margin-right: 20px;
}

.pContent {
    display: flex;
    flex-direction: column;
    width: 660px;
    border: 2px solid #121212;
}
.pContent h4{
    margin-bottom:0;
}
.pName {
    background-color: #73a077;
    color: #ffffff;
    padding: 20px;
}

.pComment {
    background-color: #ffffff;
    padding: 20px;
}

.pControl {
    text-align: right;
}

#wComment {
    height: 150px;
}

.borad-image {
    border: 1px solid #777;
    border-radius: 10px;
}

/* ------------------------------------------------------- */

.form-log{
display: flex;
margin-top:20px;

}
.form-log > div{
    width: 50%;
}
.form-log > div:nth-child(1){
    margin-right:15px;
}
.wForm2 label{
    display: block;
    position: absolute;
    transition: 0.3s;
}
.wForm2 label.active{
    transform: translate(0,-12px);
    font-size: 0.8em;
    
}
.wForm2 input{
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border:none;   
    display: block;
}

.wForm2 input:focus{
    background-color: rgba(255, 255, 255, 0.5);    
}

#BOARD textarea{
    
    background-color: transparent;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}


/* ------------------------------------------- */
/* 등록 리셋 버튼 꾸미기 */
#BOARD .button {
    cursor: pointer;
    padding: 5px 40px;
    text-align: center;
    color: #fff;
    border: 2px solid #345E3D;
    font-size: 18px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: #345E3D;
}
#BOARD .button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
#BOARD .button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}


.borad-button {
    background-color: #4F6F52;
    border: 2px solid #4F6F52;
}

.borad-button:hover {
    background-color: #163020;
    border: 2px solid #163020;
}