@charset "utf-8";

#BOARD{
    height: auto;
    padding-top:110px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.write {
    /* background-color: aqua; */
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    padding: 15px;
}

.wForm1 {
    /* background-color: green; */
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.wForm2 {
    /* background-color: blue; */
    width: 75%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wIconPview {
    margin-top: 20px;
}

.wSelectIcon {
    width: 150px;
    background-color: #000000;
}

.wSelectIcon>select {
    width: 150px;
}

.wBtn {
    /* background-color: blueviolet; */
    padding: 10px;
    text-align: center;
    position: relative;
}

/* .wBtn>button {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
} */

.posts {
    display: flex;
    flex-direction: row;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #4F6F52;
    width: 800px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 15px;
    justify-content: center;
}

.pIcon {
    background-color: white;
    margin-right: 20px;
}

.pContent {
    display: flex;
    flex-direction: column;
    width: 660px;
    border: 2px solid #000000;
}

.pName {
    background-color: #73a077;
    color: #ffffff;
    padding: 20px;
}

.pComment {
    background-color: #ffffff;
    padding: 20px;
}

.pControl {
    text-align: right;
}

.postBox {
    padding: 20px 0 30px 0;
}

#wComment {
    height: 150px;
}

/* ------------------------------------------------------- */
.form-log{
display: flex;
border:1px solid #ff0000;
height: 40px;
margin-bottom:20px;

}
.form-log > div:nth-child(1){
    /* margin-right:20px;
    margin-bottom:20px; */
}
.wForm2 label{
    display: block;
    position: absolute;
    transition: 0.5s;
}
.wForm2 label.active{
    transform: translate(0,-20px);
    font-size: 0.8em;
}
.wForm2 input{
    outline: none;
    background-color: transparent;
    border:none;   
    display: block;
}
.wForm2 label.active+input{
    border-bottom:1px solid red;
}
.wForm2 input:focus{
    
}

textarea{
    width: 381px; 
    height: 109px;
    background-color: transparent;
    border: none;
}


/* ------------------------------------------- */
/* 등록 리셋 버튼 꾸미기 */
.button {
    cursor: pointer;
    padding: 5px 40px;
    text-align: center;
    color: #fff;
    border: 2px solid #345E3D;
    font-size: 18px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: #345E3D;
}
.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}


.borad-button {
    background-color: #4F6F52;
    border: 2px solid #4F6F52;
}

.borad-button:hover {
    background-color: #163020;
    border: 2px solid #163020;
}