@charset "utf-8";

/* font */
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@font-face {
    font-family: 'SCoreDream1';
    font-weight: 100; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream2';
    font-weight: 200; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream3';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream4';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream5';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream6';
    font-weight: 600; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream7';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream8';
    font-weight: 800; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream9';
    font-weight: 900; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    color: #1f1f1f;
    font-family: 'SCoreDream3';
}

ul,
ol,
li {
    list-style-type: none
}

img,
fieldset {
    border: none;
    vertical-align: middle
}

a {
    color: inherit;
    text-decoration: none
}

table {
    border-collapse: collapse
}

input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle
}

/* section01 */

html{
    scroll-behavior: smooth;
}

main{
    background-color: #7ACBFA;
}
header{
    display: flex;
    flex-direction: row;
    /* 생략가능 / display: flex; 기본값 */
    justify-content: center;
    position: fixed;
    top:40px;
    width: 100%;
    height: 65px;
    
}
.main_nav{
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    border-radius: 200px;  font-family: 'SCoreDream4'; 
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px); 
}
.sun{
    width: 90px;
    height: 90px;
    position: absolute;
    top:50%;
    left:-10px;
    transform: translate(0,-50%);
}
.sun img{
    position: absolute;
}
.sun img.sun02{
    animation: sun02 15s infinite alternate ease-in;
}
@keyframes sun02{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.main_nav ul{
    display: flex;
    flex-direction: row;
    /* 생략가능 / display: flex; 기본값 */
    justify-content: center;
    align-items: center;
    height: 100%; 
    
}
.main_nav ul li{
    /* background-color: red; */
    margin:0 60px;
    color:#345E3D
}
.main_nav ul li.show{
    color:inherit;
    font-family: 'SCoreDream6';
}

section{
    height: 100vh;
    background-color: #7FAD6F;
}

section#HOME{
    background-image: url(./image/intro_bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#HOME h2{text-transform: uppercase;font-family: 'SCoreDream8';font-size: 86px;}
#HOME h5{font-size: 26px;}
#HOME .title{
    margin-top:150px;
}
.home_member_img{
    margin-bottom:100px;
}
.home_member_img img{
    margin:0 5px;
}
