#MEMBER{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:10% 10%;
}
.container {
    /* display: grid;
    grid-template-columns: 1200px 50px; */
    display: flex;
    justify-content: space-between;
}

.tab_btn{
    /* margin-top:50px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    
    
}

.tab-cont > div {
    display: none;
}

.tab-cont > div.active {
    display: block;
}

.tab-cont .grd_hz {
    display: flex;
    
    /* display: grid;
    grid-template-columns: 730px max-content; */
}
.tab-cont .grd_hz >div{
    margin-right:20px;
}
.tab-cont .grd_hz img{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tab-cont .grd_hz:nth-child(6) img{
    top:60%
}
.tab-cont .grd_hz > div:nth-child(1){
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.ld {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    border: solid skyblue 1px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 20px;
    background-color: skyblue;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
}

#MEMBER h1 {
    /* margin-top: 50px; */
}

#MEMBER ul{
    list-style-position: inside;
    padding-left:20px;
    list-style-type:disc;
    font-size: 16px;
    font-family: 'SCoreDream4';
}

#MEMBER .tab_btn > li {
    list-style: none;
    cursor: pointer;
}
#MEMBER ol > li{
    font-size: 18px;
    font-family: 'SCoreDream5';
}

#MEMBER ul > li{
    list-style-type:disc;
    font-size: 16px;
    font-family: 'SCoreDream4';
}

#MEMBER ol{
    
    padding:0;
}



section h1 {
    font-family: 'SCoreDream5', sans-serif;
    font-weight: bold;
}

.thumbnail {
    border-radius: 30px;
    /* margin-bottom: 45px; */
}

.memberImg {
    border-radius: 10px;
}
