#MEMBER{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:10% 10%;
}
.container {
    display: grid;
    grid-template-columns: 0.9fr 50px;
}

.tab_btn{
    padding: 50px 0 0 0;
}

.tab_btn li {
    list-style: none;
    cursor: pointer;
}

.tab-cont > div {
    display: none;
}

.tab-cont > div.active {
    display: block;
}

.tab-cont .grd_hz {
    display: grid;
    grid-template-columns: max-content max-content;
}

.ld {
    display: inline;
    font-size: 12px;
    border: solid skyblue 1px;
    background-color: skyblue;
    padding: 1px;
    border-radius: 5px;
}

#MEMBER h1 {
    margin-top: 50px;
}