#MEMBER{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:10% 10%;
}
.container {
    display: grid;
    grid-template-columns: 1200px 50px;
}

.tab_btn{
    padding: 50px 0 0 0;
}

.tab-cont > div {
    display: none;
}

.tab-cont > div.active {
    display: block;
}

.tab-cont .grd_hz {
    display: grid;
    grid-template-columns: 730px max-content;
}

.ld {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    border: solid skyblue 1px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 20px;
    background-color: skyblue;
    border-radius: 5px;
}

#MEMBER h1 {
    margin-top: 50px;
}

#MEMBER ul{
    list-style-position: inside;
    padding-left:20px;
    list-style-type:disc;
    font-size: 16px;
    font-family: 'SCoreDream4';
}

#MEMBER .tab_btn > li {
    list-style: none;
    cursor: pointer;
}

#MEMBER ul > li{
    list-style-type:disc;
    font-size: 16px;
    font-family: 'SCoreDream4';
}

#MEMBER li{
    list-style-type:decimal;
    font-size: 16px;
    font-family: 'SCoreDream4';
}

section h1 {
    font-family: 'SCoreDream5', sans-serif;
    font-weight: bold;
}